.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    background-color: blanchedalmond;
}
.menu-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.foto{
	width: 200px;
	height: 200px;
	border: solid;
	border-radius: 100%;
}
.ket h3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content1{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content2{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content3{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content4{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content5{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content6{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content7{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content8{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
.content9{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
}
